html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color: unset;
	text-decoration: none;
}
* {
    --size1:3.906rem;
    --size2:3.125rem;
    --size3:2rem;
    --size4:1.6rem;
    --size5:1.2rem;
--alert-text:1.6rem;
--info-text:1.28rem;
--cart-num:1rem;

--white:#EDF2EF;
--black:#151515;
--green:#2DF273;
--red:#CF3F31;

--body-padding:2rem;

--main-bottom:135px;
}


  @media only screen and (max-width: 834px) {
    * {
        --size1:3.418rem;
        --size2:2.734rem;
        --size3:1.75rem;
        --size4:1.4rem;
        --size5:1.12rem;
        --alert-text:1.12rem;
        --info-text:1.12rem;
        --cart-num:0.896rem;

        --main-bottom:92px;
    }
  }

  @media only screen and (max-width: 400px) {
    *{
        --size1:2.903rem;
        --size2:2.419rem;
        --size3:1.68rem;
        --size5:0.896rem;
        --alert-text:1.167rem;
        --info-text:1.167rem;
        --cart-num:0.717rem;

        --body-padding:1rem;

        --main-bottom:89px;
    }
  }
  //
  //
html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body {
    display: grid;
    justify-content: center;
    background-color: var(--black);
    overflow-x: hidden;
    box-sizing: border-box;
    > * {
        max-width: 1300px;
        margin-bottom: var(--main-bottom);
    }
}
h1,
h2 {
    font-weight: 600;
}
.max-width {
    max-width: 1300px;
    margin: 0 auto;
    width: calc(100% - var(--body-padding));
}
nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: auto;
    width: 1300px;
    font-size: var(--size5);
    color: var(--white);
    mix-blend-mode: difference;
    height: 31px;
    margin-top: 21px !important;
    margin-bottom: 109px;
    z-index: 100;
    address {
        display: flex;
        gap: 32px;
        align-items: flex-end;
        padding-right: 0.52em;
    }
    .cart {
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .cart-number {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(40%, -40%);
        background-color: var(--red);
        border-radius: 50%;
        aspect-ratio: 1;
        padding: 0.5em 0.72em;
        font-size: var(--cart-num);
        text-align: center;
    }
}

@media only screen and (max-width: 834px) {
    .cart img {
        width: 26px;
    }
    nav {
        height: 27px;
        margin-top: 15px;
        margin-bottom: 61px;
    }
}
@media only screen and (max-width: 600px) {
    .logo {
        transform: scale(0);
        display: none;
    }
    nav address {
        width: 100% !important;
        justify-content: inherit !important;
    }
}
@media only screen and (max-width: 500px) {
    nav address {
        gap: 17px;
    }
}
@media only screen and (max-width: 400px) {
    .cart img {
        width: 20px;
    }
    nav {
        height: 21px;
        margin-top: 14px;
        margin-bottom: 40px;
    }
}

//header

header {
    height: fit-content;
    max-width: 100vw;
    width: 100vw;
    color: var(--white);
    padding-top: 161px;
    padding-bottom: var(--main-bottom);
    background-image: url("/pics/header-bkg.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    h1 {
        font-size: var(--size1);
        margin-bottom: 11px;
    }
    p {
        font-size: var(--size3);
        color: #a7aba9;
        line-height: 23px;
    }
    button {
        margin-top: 30px;
        border: none;
        outline: none;
        font-size: var(--size3);
        color: var(--black);
        background-color: var(--green);
        padding: 0.35em 1.7em;
        border-radius: 7px;
    }
}
.header-content {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    max-height: 623px;
}
.header-left {
    max-width: 547px;
}

.header-right {
    display: flex;
    gap: 41px;
    align-items: center;
    max-width: 608px;
    .arrow {
        height: 30px;
        cursor: pointer;
    }
    .arrow:nth-child(3) {
        transform: rotate(180deg);
    }
}
.header-img-container {
    position: relative;
    display: flex;
    max-width: 492px;
    height: 100%;
    overflow: hidden;
    img {
        width: 100%;
        object-fit: cover;
        border-radius: 7px;
        transform: scale(1);
        transition: 1s linear;
    }
    .current-photo {
        transform: scale(1);
    }
}
.alert {
    display: grid;
    align-content: space-around;
    position: absolute;
    background-color: var(--red);
    width: 100%;
    height: max-content;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    p {
        padding: 0.5em 12px;
        font-size: var(--alert-text);
        color: var(--white);
    }
}
@media only screen and (max-width: 1100px) {
    header {
        height: max-content;
    }
    .header-right {
        gap: 14px;
        height: 80%;
        .arrow {
            height: 22px;
        }
    }
}
@media only screen and (max-width: 834px) {
    header {
        padding-top: 103px;
    }
    nav {
        height: 27px;
        margin-top: 15px;
    }
    .header-img-container .alert p {
        padding: 0.5em 7px;
    }
}
@media only screen and (max-width: 700px) {
    header {
        padding-bottom: 0;
    }
    .header-content {
        grid-template-columns: 1fr;
        align-items: baseline;
        height: fit-content;
        max-height: none;
        gap: 66px;
    }
    .header-right {
        justify-self: center;
    }
}
@media only screen and (max-width: 400px) {
    header {
        padding-top: 75px;
    }
    nav {
        height: 21px;
        margin-top: 14px;
    }
}

//main text

.main-text {
    color: var(--white);
    padding-bottom: var(--main-bottom);
    div {
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        gap: 62px;
    }
    h2 {
        font-size: var(--size2);
        font-weight: 600;
        margin-bottom: 33px;
    }
    p {
        font-size: var(--size4);
        line-height: 25px;
    }
    img {
        height: 500px;
        object-fit: cover;
        width: 100%;
        border-radius: 7px;
    }
}

@media only screen and (max-width: 1300px) {
    .main-text {
        div {
            grid-template-columns: 0.5fr 1fr;
            gap: 43px;
        }
        h2 {
            margin-bottom: 30px;
        }
        img {
            height: 300px;
            object-fit: cover;
            width: 100%;
            border-radius: 7px;
        }
    }
}
@media only screen and (max-width: 700px) {
    .main-text {
        div {
            grid-template-columns: 1fr;
            gap: 55px;
        }
        p {
            grid-row: 1;
            line-height: 20px;
        }
        h2 {
            margin-bottom: 20px;
        }
        img {
            aspect-ratio: 1 / 1.3;
            margin: 0 auto;
            width: 300px;
            height: 50vh;
            min-width: 80vw;
        }
    }
}

//cards

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 46px;
}

.card {
    position: relative;
    display: grid;
    align-items: baseline;
    justify-self: center;
    max-width: 360px;
    box-shadow: 0px 0px 4px 1px var(--green);
    border-radius: 7px;
}
.card-img-container {
    position: relative;
    width: 100%;
    height: 210px;
    .main-card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 7px 7px 0 0;
    }
    .info {
        position: absolute;
        top: 14px;
        right: 14px;
        cursor: pointer;
    }
}

.card-text {
    color: var(--white);
    padding: 15px 15px 0 15px;
    h3 {
        font-size: var(--size3);
        font-weight: 600;
        line-height: 125%;
        padding-bottom: 12px;
    }
    p {
        font-size: var(--size4);
        line-height: 156%;
        padding-bottom: 60px;
    }
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 8px 15px;
    color: var(--white);

    .price {
        font-weight: 500;
        font-size: var(--size3);
    }
    .amount {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 500;
        font-size: var(--alert-text);
        background: var(--black);
        box-shadow: 0px 0px 2px 1px #0b0b0b;
        border-radius: 7px;
        padding: 0.7em 1em;
        img{
            cursor: pointer;
        }
        .cart-minus{
            padding: 4px 0;
        }
        span {
            width: 50px !important;
            overflow: hidden;
            background-color: transparent;
            border: none;
            outline: none;
            color: var(--white);
        }
    }
    .buy-button {
        font-weight: 500;
        font-size: var(--size4);
        text-transform: uppercase;
        color: var(--black);
        background-color: var(--green);
        padding: 0.7em 1.6em;
        border-radius: 7px;
        cursor: pointer;
    }
}
.info-text {
    position: absolute;
    display: grid;
    align-content: space-between;
    gap: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--black);
    border-radius: 7px;
    color: var(--white);
    font-size: var(--info-text);
    padding: 0 14px 34px;
    line-height: 164%;
    clip-path: circle(0% at 100% 0);
    transition: 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
    span {
        font-weight: 500;
        text-decoration-line: underline;
    }
    .close-info {
        margin-top: 14px;
        justify-self: end;
        cursor: pointer;
    }
}

//for cart
.card-in-cart {
    grid-template-columns: 0.25fr 1fr;
    align-items: stretch;
    max-width: 80vw;
    width: 877px;
    padding: 16px;
    max-height: 225px;

    .card-text {
        padding: 0 0 0 28px;
        h3 {
            padding-bottom: 14px;
            max-width: 500px;
        }
        p {
            padding-bottom: 0;
            line-height: 143%;
            max-width: 500px;
        }
        div {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: baseline;
            .trash {
                display: block !important;
            }
        }
    }

    .card-img-container {
        grid-row: 1 / 3;
        height: 100%;
        max-height: 171px;
        .info {
            width: 22px;
            aspect-ratio: 1 / 1;
            top: 8px;
            right: 8px;
        }
    }
    .card-bottom {
        align-self: flex-end;
        flex-flow: row-reverse;
        padding: 25px 0 0 28px !important;
        .buy-button {
            display: none;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .cards {
        max-width: 808px;
        margin: 0 auto;
        row-gap: 40px;
    }
    .card:nth-child(2),
    .card:nth-child(4),
    .card:nth-child(6) {
        transform: translateY(40px);
    }
}
@media only screen and (max-width: 834px) {
    .card-img-container {
        height: 186px;
        .info {
            width: 18px;
            aspect-ratio: 1 / 1;
            top: 10px;
            right: 10px;
        }
    }
    .card-text {
        padding: 14px 10px;
        h3 {
            padding-bottom: 11px;
        }
        p {
            padding-bottom: 55px;
            line-height: 143%;
        }
    }
    .card-bottom {
        padding: 0 10px 9px 10px;
        .amount {
            padding: 0.8em 0.8em;
        }
        .buy-button {
            font-weight: 500;
            font-size: var(--size4);
            text-transform: uppercase;
            color: var(--black);
            background-color: var(--green);
            padding: 0.6em 1.4em;
            border-radius: 7px;
        }
    }
    .info-text {
        padding: 0 9px 34px;
        line-height: 164%;
        .close-info {
            margin-top: 11px;
            width: 18px;
            aspect-ratio: 1 / 1;
        }
    }
    //for cart
    .card-in-cart {
        grid-template-columns: 0.3fr 1fr;
        padding: 14px;
        max-height: auto;

        .card-text {
            padding: 0 0 0 20px;
            h3 {
                padding-bottom: 14px;
                max-width: 85%;
            }
            p {
                max-width: 85%;
            }
            div {
                .trash {
                    width: 18px;
                    aspect-ratio: 1 / 1;
                }
            }
        }
        .card-img-container {
            .info {
                width: 14px;
                aspect-ratio: 1 / 1;
                top: 5px;
                right: 5px;
            }
        }
        .card-bottom {
            grid-row: 2;
            grid-column: 2;
            align-self: flex-end;
            flex-flow: row-reverse;
            padding: 10px 0 0 20px !important;
        }
    }
}

@media only screen and (max-width: 640px) {
    .cards {
        max-width: fit-content;
        // grid-template-rows: repeat(6 , 1fr);
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .card-flat {
        grid-template-columns: 0.5fr 1fr;
        align-items: stretch;
        max-width: 100%;
        width: 100% !important;
        padding: 10px;
        max-height: 400px;
        .main-card-img {
            border-radius: 7px 7px 7px 7px;
        }
    }
    .card:nth-child(2),
    .card:nth-child(4),
    .card:nth-child(6) {
        transform: translateY(0);
    }

    .card-text {
        padding-right: 0;
        p {
            padding-bottom: 0;
        }
    }
    .card-bottom {
        grid-column: 1/3;
        padding: 0;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 500px) {
    .card-text {
        padding-top: 0;
    }

    //for cart
    .card-in-cart {
        grid-template-columns: 0.4fr 1fr;
        padding: 10px;

        .card-text {
            padding: 0 0 0 10px;
            h3 {
                padding-bottom: 10px;
                max-width: 90%;
                line-height: 120%;
            }
            p {
                max-width: 90%;
                line-height: 120%;
                font-size: 12px;
                opacity: 0.8;
            }
        }
        .card-bottom {
            padding: 0px 0 0 10px !important;
        }
    }
}

@media only screen and (max-width: 400px) {
    .card-flat {
        position: relative;
        padding: 7px;
        height: auto;
    }
    .cards {
        margin-left: 5px;
        margin-right: 5px;
        row-gap: 35px;
    }
    .card-img-container {
        position: initial;
        height: 100%;
        .info {
            width: 16px;
            top: 7px;
            right: 7px;
        }
    }
    .card-text {
        padding: 0 0 0 10px;
        h3 {
            padding-bottom: 14px;
        }
        P {
            line-height: 140%;
        }
    }
    .card-bottom {
        padding: 0 0 3px 0;
        margin-top: 18px;
        .amount {
            padding: 0.8em 0.8em;
        }
        .buy-button {
            font-weight: 500;
            font-size: var(--size4);
            text-transform: uppercase;
            color: var(--black);
            background-color: var(--green);
            padding: 0.6em 1.4em;
            border-radius: 7px;
        }
    }

    .info-text {
        padding: 0 7px;
        .close-info {
            margin-top: 7px;
            width: 16px;
        }
    }

    //for cart
    .card-in-cart {
        grid-template-columns: 0.3fr 1fr;
        .card-text {
            h3 {
                padding-bottom: 8px;
                max-width: 100%;
            }
            p {
                max-width: 100%;
            }
            div {
                .trash {
                    width: 13.2px;
                    aspect-ratio: 1 / 1;
                }
            }
        }
        .card-img-container {
            position: relative;
            grid-row: 1;
        }
        .card-bottom {
            grid-column: 1 / 3;
            padding: 20px 0 5px 0 !important;
            margin-top: 0;
        }
    }
}
.cart-menu-bkg-closed {
    opacity: 0;
    backdrop-filter: blur(0px);
    pointer-events: none !important;
}
.cart-menu-bkg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(21, 21, 21, 0.17);
    backdrop-filter: blur(3px);
    z-index: 100;
    transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    pointer-events: auto;
}
.cart-menu-closed {
    transform: translate(50%, -50%) scale(0.7) !important;
    opacity: 0 !important;
}
.cart-menu {
    position: fixed;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1300px;
    // max-height: 98%;
    width: 97.5%;
    background-color: var(--black);
    border: 1px solid var(--white);
    border-radius: 7px;
    z-index: 999;
    opacity: 1;
    transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    .name {
        padding: 35px 35px 52px 35px;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: var(--size2);
        text-transform: uppercase;
        color: var(--white);
        img {
            width: 34px;
            aspect-ratio: 1 / 1;
            opacity: 0.6;
            cursor: pointer;
        }
    }
    .items {
        display: grid;
        justify-content: start;
        grid-template-rows: auto auto;
        row-gap: 27px;
        padding: 5px 35px 50px 35px;
        max-height: 386px;
        width: fit-content;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 1vw;
        }
        &::-webkit-scrollbar-track {
            background: black;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--green);
            border-radius: 7px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #2df272bb;
        }
    }
    .card:nth-child(2),
    .card:nth-child(4),
    .card:nth-child(6) {
        transform: translateY(0);
    }
}
.cart-bottom {
    width: 909px;
    max-width: 85vw;
    margin-left: 35px;
    margin-bottom: 49px;
}

.cart-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-weight: 700;
    margin-top: 30px;
    p {
        font-size: var(--size4);
    }
    p:nth-child(1) {
        text-transform: uppercase;
    }
}

.cart-form > div {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 572px;
    margin-top: 49px;
    div {
        display: grid;
        gap: 2px;
        font-size: var(--info-text);
        color: var(--white);
        input {
            border: none;
            outline: none;
            max-width: 230px;
            height: 33px;
            background: #272727;
            box-shadow: 0px 0px 2px 1px #0b0b0b;
            border-radius: 7px;
            color: var(--white);
        }
        label {
            margin-left: 6px;
            width: min-content;
        }
    }
    .or {
        align-self: center;
        justify-self: center;
        font-weight: 400;
        font-size: var(--size3);
        color: #272727 !important;
    }
}
.cart-form button {
    margin-top: 37px;
    border: none;
    outline: none;
    background-color: var(--green);
    color: var(--black);
    font-weight: 500;
    font-size: var(--size3);
    text-transform: uppercase;
    border-radius: 7px;
    padding: 0.75em 1.1em;
    margin-bottom: 20px;
}
@media screen and (min-width: 1000px), screen and (max-height: 800px) {
    .cart-menu .items {
        max-height: 37vh;
    }
}
@media only screen and (max-width: 1093px) {
    .cart-bottom {
        max-width: 85.1vw;
        margin-left: 18px;
    }
}
@media only screen and (max-width: 834px) {
    .cart-menu {
        .name {
            padding: 23px 18px 25px 18px;
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            font-size: var(--size2);
            text-transform: uppercase;
            color: var(--white);
            img {
                width: 32px;
                aspect-ratio: 1 / 1;
            }
        }
        .items {
            padding: 5px 18px 50px 18px;
            max-width: 877px;
            row-gap: 34px;
        }
    }
    .cart-bottom {
        max-width: 84.1vw;
    }

    .cart-form > div {
        max-width: 465px;
        margin-top: 30px;
        div {
            input {
                max-width: 188px;
            }
            label {
                margin-left: 4px;
            }
        }
    }
    .cart-form button {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 640px) {
    .cart-bottom {
        width: 97.5%;
        max-width: none;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 600px) {
    .cart-menu .items {
        max-height: 453px;
    }
}
@media only screen and (max-width: 500px) {
    .cart-menu .items {
        max-height: 75vw;
    }

    .cart-form > div {
        max-width: 465px;
        margin-top: 30px;
        div {
            input {
                max-width: 188px;
            }
            label {
                margin-left: 4px;
            }
        }
    }
    .cart-form button {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 440px) {
    .cart-menu .items {
        max-height: 87vw;
    }
}
@media only screen and (max-width: 380px) {
    .cart-menu .items {
        max-height: 90vw;
    }
}
@media only screen and (max-width: 361px) {
    .cart-menu .items {
        max-height: 100vw;
    }
}
@media only screen and (max-width: 400px) {
    .cart-menu {
        .name {
            padding: 10px 7px 11px 10px;
            img {
                width: 23px;
            }
        }
        .items {
            padding: 5px 10px 50px 10px;
            row-gap: 22px;
        }
    }
}

//reviews

.reviews {
    margin-top: 135px;
    color: var(--white);
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100vw;
    h2 {
        font-weight: 600;
        font-size: var(--size2);
        text-transform: uppercase;
        margin-bottom: 33px;
    }
}
.reviews-container {
    display: grid;
    grid-template-columns: repeat(10, calc(50% - 33px));
    column-gap: 66px;
    justify-content: space-between;
    overflow: hidden;
    .review {
        display: grid;
        align-content: space-between;
        font-weight: 300;
        font-size: var(--size4);
        line-height: 1.3em;
    }
    .review-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 19px;
        transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    .review-name-font {
        font-weight: 600;
    }
    .checked {
        color: #f9dc5c;
    }
    .review-answer {
        margin-top: 40px;
        transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);
        p:nth-child(1) {
            margin-bottom: 19px;
            max-width: 80%;
        }
    }
    .line-after {
        position: relative;
        transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);
        &::after {
            position: absolute;
            content: "";
            background-color: #242424;
            width: 80%;
            height: 2px;
            bottom: -11px;
            left: 0;
        }
    }
    .review-next-div {
        display: flex;
        gap: 15px;
        grid-column: 2;
        justify-self: end;
        :nth-child(1) {
            transform: rotate(180deg);
        }
    }
    .review-next {
        background-color: #242424;
        padding: 1em 1.1em;
        border-radius: 100%;
        margin-top: 33px;
        cursor: pointer;
    }
    .review-next-removed {
        opacity: 0 !important;
        pointer-events: none !important;
    }
}
@media only screen and (max-width: 834px) {
    .reviews-container {
        gap: 33px;
    }

    .reviews {
        margin-top: 132px;
        h2 {
            margin-bottom: 27px;
        }
    }
    .reviews-container {
        .review-name {
            margin-bottom: 15px;
        }
        .review-answer {
            margin-top: 31px;
            p:nth-child(1) {
                margin-bottom: 13px;
            }
        }
        .line-after {
            &::after {
                bottom: -10px;
            }
        }
        .review-next {
            padding: 0.95em 1.05em;
            margin-top: 25px;
        }
    }
}
@media only screen and (max-width: 600px) {
    .reviews-container {
        grid-template-columns: repeat(10, 100%);
    }
    .review-next-div {
        grid-column: 1 !important;
    }

    .review-next {
        margin-top: 33px;
    }
}
@media only screen and (max-width: 400px) {
    .reviews {
        margin-top: 89px;
        h2 {
            margin-bottom: 16px;
        }
    }
    .reviews-container {
        .review-name {
            margin-bottom: 13px;
        }
        .review-answer {
            margin-top: 31px;
        }
        .review-next {
            padding: 0.9em 1em;
            margin-top: 15px;
        }
    }
}

// instruction

.instruction {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 23px;
    color: var(--white);
    margin-top: 134px;
}
.instruction-left {
    h2 {
        font-weight: 600;
        font-size: var(--size2);
        margin-bottom: 42px;
    }
    ul {
        display: grid;
        gap: 32px;
        font-size: var(--size4);
        list-style-position: outside;
        li {
            display: flex;
            align-items: center;
            gap: 15px;
            list-style: none;
            line-height: 1.3em;
            p {
                font-size: 48.83px;
                color: #444444;
            }
            span {
                display: contents;
                text-decoration: underline !important;
                text-transform: uppercase;
                color: var(--green);
                cursor: pointer;
            }
        }
    }
}
.instruction-right {
    position: relative;
    justify-self: center;
    border: 1px solid rgba(237, 242, 239, 0.74);
    box-shadow: 0px 0px 2px 1px #0b0b0b;
    border-radius: 7px;
    .alert {
        line-height: 190%;
    }
    img {
        width: auto;
        max-height: 524px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .instruction {
        grid-template-columns: auto;
        gap: 48px;
    }
}
@media only screen and (max-width: 834px) {
    .instruction {
        margin-top: 92px;
    }
    .instruction-left {
        h2 {
            margin-bottom: 27px;
        }
        ul {
            gap: 25px;
            li {
                gap: 12px;
                p {
                    font-size: 42.72px;
                }
            }
        }
    }
    .instruction-right {
        img {
            max-height: 436px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .instruction {
        margin-top: 85px;
    }
    .instruction-left {
        h2 {
            margin-bottom: 16px;
        }
        ul {
            gap: 24px;
            li {
                gap: 8px;
                p {
                    font-size: 34.84px;
                }
            }
        }
    }
    .instruction-right {
        img {
            max-height: 274px;
        }
    }
}

//footer

footer {
    margin-top: 68px;
    margin-bottom: 0;
    padding-top: 21px;
    width: 100%;
    max-width: none;
    background-color: #000000;
    color: var(--white);
    .max-width {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        > p {
            grid-column: 1/3;
            font-weight: 400;
            font-size: var(--size5);
            margin: 44px auto 12px;
        }
    }
}
.left-footer {
    p {
        font-weight: 600;
        font-size: var(--size4);
        text-transform: uppercase;
        margin-bottom: 17px;
    }
    ul {
        display: grid;
        gap: 22px;
        font-weight: 400;
        font-size: var(--size5);
    }
}
.right-footer {
    p {
        font-weight: 600;
        font-size: var(--size4);
        text-transform: uppercase;
        margin-bottom: 17px;
    }
}
.footer-form {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 12px 27px;
    div {
        display: grid;
        gap: 4px;
        label {
            margin-left: 6px;
        }
    }
    div:nth-child(3) {
        grid-column: 1/3;
    }
    input {
        border: none;
        outline: none;
        background-color: #151515;
        color: var(--white);
        border-radius: 7px;
        height: 28px;
    }
    button {
        border: none;
        outline: none;
        font-weight: 500;
        font-size: var(--size4);
        text-transform: uppercase;
        color: var(--black);
        background-color: var(--green);
        padding: 0.6em 1.4em;
        border-radius: 7px;
        cursor: pointer;
        margin-top: 4px;
    }
}

@media only screen and (max-width: 834px) {
    footer {
        margin-top: 84px;
        padding-top: 19px;
        .max-width {
            > p {
                margin: 42px auto 5px;
            }
        }
    }
    .left-footer {
        p {
            margin-bottom: 11px;
        }
        ul {
            gap: 15px;
        }
    }
    .right-footer {
        p {
            margin-bottom: 11px;
        }
    }
    .footer-form {
        div {
            label {
                margin-left: 5px;
            }
        }
        button {
            padding: 0.5em 1em;
            margin-top: 17px;
        }
    }
}
@media only screen and (max-width: 500px) {
    footer {
        .max-width {
            display: block;
            > p {
                text-align: center;
            }
        }
    }
    .left-footer {
        ul {
            display: flex;
            gap: 21px;
            margin-bottom: 48px;
        }
    }
}
@media only screen and (max-width: 400px) {
    footer {
        margin-top: 80px;
        padding-top: 15px;
    }
    .left-footer {
        p {
            margin-bottom: 16px;
        }
    }
    .right-footer {
        p {
            margin-bottom: 16px;
        }
    }
    .footer-form {
        div {
            label {
                margin-left: 4px;
            }
        }
    }
}

//net v nalichii

.net-v-nalichii {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(21, 21, 21, 0.36);
    z-index: 100;
    div {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 12px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--red);
        border-radius: 0px 0px 7px 7px;
        p {
            font-weight: 400;
            font-size: var(--size3);
            color: var(--white);
        }
        img {
            width: 36px;
            aspect-ratio: 1 / 1;
        }
    }
}
@media only screen and (max-width: 834px) {
    .net-v-nalichii {
        div {
            padding: 7px 10px;
            img {
                width: 30px;
                aspect-ratio: 1 / 1;
            }
        }
    }
}
@media only screen and (max-width: 834px) {
    .net-v-nalichii {
        div {
            padding: 10px 9px;
            img {
                width: 25px;
                aspect-ratio: 1 / 1;
            }
        }
    }
}
