* {
    --size1:3.906rem;
    --size2:3.125rem;
    --size3:2rem;
    --size4:1.6rem;
    --size5:1.2rem;
--alert-text:1.6rem;
--info-text:1.28rem;
--cart-num:1rem;

--white:#EDF2EF;
--black:#151515;
--green:#2DF273;
--red:#CF3F31;

--body-padding:2rem;

--main-bottom:135px;
}


  @media only screen and (max-width: 834px) {
    * {
        --size1:3.418rem;
        --size2:2.734rem;
        --size3:1.75rem;
        --size4:1.4rem;
        --size5:1.12rem;
        --alert-text:1.12rem;
        --info-text:1.12rem;
        --cart-num:0.896rem;

        --main-bottom:92px;
    }
  }

  @media only screen and (max-width: 400px) {
    *{
        --size1:2.903rem;
        --size2:2.419rem;
        --size3:1.68rem;
        --size5:0.896rem;
        --alert-text:1.167rem;
        --info-text:1.167rem;
        --cart-num:0.717rem;

        --body-padding:1rem;

        --main-bottom:89px;
    }
  }